<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fakestudios.devs.fakenewsanalyzer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SourceInputActivity"
            android:label="@string/source_analyser">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SourceAnalyserResultActivity"
            android:theme="@style/ActionBarTheme"
            android:label="@string/source_analyser_result"/>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name=".ContentAnalyserActivity"
            android:theme="@style/ActionBarTheme"
            android:label="@string/content_analyser"/>
    </application>

</manifest>